/*Import*/
@import "inc/liste";
@import "inc/details";

header{
	margin-bottom : 40px;
	text-align: center;
}

body{
	background-color: #f6f6f6;
}

h1{
	text-align: center;
}

hr{
	height: 3px;
	width: 7%;
	background-color: #000000;
}


.ng-binding{
	margin-top : 0px;
	margin-bottom: 0px;
}

.form{
	min-height: 100%;
	width: 30%;
	margin: auto; /* Permet de centrer la div */
	padding: 30px;
	display: table;
}

.coprs{
	min-height: 100%;
	background-color: #ffffff;
	width: 70%;
	margin: auto; /* Permet de centrer la div */
	padding: 30px;
	display: table;
}

.size42{
	font-size: 42px;
}
