<a class="boutonRetour" href="http://localhost:3000/#/">Retour à la liste</a>
<h1>CheckIn Details</h1>
<hr>

<div ng-controller="checkinDetailsController as checkinDetailCtrl">
  	<div>
		<img ng-src="{{checkin.user.picture}}">
	  	<p>  		
	  		{{checkin.user.id}}
	  		{{checkin.user.name}}
	  	</p>
	  	<p>
	  		<img src="/images/icons/{{weather.weather[0].icon}}.png">
	  		{{weather.name}},
	  		{{weather.main.temp}}°C,
	  		{{weather.weather[0].description}}
	  		{{weather.coord.lat}}
	  		{{weather.coord.lon}}

	  	<my-maps id="map-canvas" lat="{{weather.coord.lat}}" lon="{{weather.coord.lon}}"></my-maps>
	  	</p>	  	
  	</div>  
</div>