/*Import*/
/*Css de la liste de CheckIns*/
a {
  text-decoration: none;
  color: #000000 !important; }

a:hover {
  color: #e1e1e1 !important; }

.ul {
  list-style: none;
  text-align: center; }

.li {
  float: left;
  width: 20%;
  margin: 5px;
  padding: 10px 5px 10px 5px;
  background-color: #26A69A;
  margin: 10px; }

/*Responsive*/
@media (max-width: 740px) {
  .li {
    min-height: 64px; } }

@media (max-width: 550px) {
  .li {
    width: 40%; } }

/*Css des CheckIns detail*/
.detail {
  margin-top: 40px;
  height: auto;
  width: 100%;
  overflow: hidden; }

.photoCheckinDetail {
  max-width: 100%; }

.detailImg {
  float: left;
  width: 25%; }

.detailInfo {
  float: left;
  width: 75%;
  text-align: justify; }

.detailInfoNom {
  font-size: 22px;
  margin-left: 10px; }

.detailInfoContenu {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
  margin-left: 10px; }

.meteo {
  display: block;
  margin-top: 20px; }

.meteoImg {
  height: auto;
  width: auto; }

.meteoInfo {
  text-align: center; }

.map {
  margin-top: 10px; }

#map-canvas {
  height: 200px;
  width: auto; }

/*Responsive*/
@media (max-width: 740px) {
  .detail {
    text-align: center; }
  .detailImg {
    float: none;
    display: inline-block; }
  .detailInfo {
    float: none;
    display: inline-block; }
    .detailInfo .detailInfoNom {
      text-align: center; } }

header {
  margin-bottom: 40px;
  text-align: center; }

body {
  background-color: #f6f6f6; }

h1 {
  text-align: center; }

hr {
  height: 3px;
  width: 7%;
  background-color: #000000; }

.ng-binding {
  margin-top: 0px;
  margin-bottom: 0px; }

.form {
  min-height: 100%;
  width: 30%;
  margin: auto;
  /* Permet de centrer la div */
  padding: 30px;
  display: table; }

.coprs {
  min-height: 100%;
  background-color: #ffffff;
  width: 70%;
  margin: auto;
  /* Permet de centrer la div */
  padding: 30px;
  display: table; }

.size42 {
  font-size: 42px; }
