/*Import*/
/*Css de la liste de CheckIns*/
a {
  text-decoration: none;
  color: #000000; }

a:hover {
  color: #e1e1e1; }

.ul {
  list-style: none;
  text-align: center; }

.li {
  float: left;
  width: 20%;
  margin: 5px;
  padding: 10px 5px 10px 5px;
  background-color: #229EE4;
  margin: 10px; }

.boutonRetour {
  padding: 7px;
  text-align: center;
  border-radius: 3px;
  background: transparent linear-gradient(#42BAFF, #229EE4) repeat scroll 0% 0%; }

.boutonRetour:hover {
  color: #222;
  background: #555;
  background: linear-gradient(#229EE4, #1A73A6); }

/*Css des CheckIns detail*/
.detail {
  margin-top: 40px;
  height: auto;
  width: 100%;
  overflow: hidden; }

.photoCheckinDetail {
  max-width: 100%; }

.detailImg {
  float: left;
  width: 25%; }

.detailInfo {
  float: left;
  width: 75%; }

.detailInfoNom {
  font-size: 22px;
  margin-left: 10px; }

.detailInfoContenu {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
  margin-left: 10px; }

.meteo {
  display: block;
  margin-top: 20px; }

.meteoImg {
  height: auto;
  width: auto; }

.meteoInfo {
  text-align: center; }

.map {
  margin-top: 10px; }

#map-canvas {
  height: 200px;
  width: auto; }

header {
  margin-bottom: 40px;
  text-align: center; }

body {
  background-color: #f6f6f6; }

h1 {
  text-align: center; }

hr {
  height: 3px;
  width: 7%;
  background-color: #000000; }

.ng-binding {
  margin-top: 0px;
  margin-bottom: 0px; }

.coprs {
  min-height: 100%;
  background-color: #ffffff;
  width: 70%;
  margin: auto;
  /* Permet de centrer la div */
  padding: 30px;
  display: table; }

.size42 {
  font-size: 42px; }
