/*Css de la liste de CheckIns*/
a{
	text-decoration:none; 
	color: #000000 !important;	
}

a:hover{
	color: #e1e1e1 !important;
}

.ul{
	list-style:none;
	text-align: center;
}


.li{
	float: left;
	width: 20%;
	padding: 10px 5px;
	background-color: #26A69A;
	margin: 10px;
}

/*Responsive*/
/*@media (max-width: 740px) {
	.li{
		min-height: 64px;
	}
}*/

@media (max-width: 550px) {
	.li{
		width: 40%;
	}
}