<!doctype html>
<html ng-app='myApp'>
  <head>
  	<title>Angular</title>

    <script type="text/javascript" src="cordova.js"></script>
    <script src="assets/js/combined.js"></script>
  </head>
  <body>

  	<!--<div ng-controller="helloController as helloCtrl">
        <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <hr>
        <h1>Hello {{yourName}}!</h1>

        <p>{{helloCtrl.afficheLongeur(yourName) }}</p>

        <p>{{helloCtrl.inverseChaine(yourName) }}</p>

        <ul>
        	<li ng-repeat="lettre in helloCtrl.splitToList(yourName) track by $index">{{lettre}}</li>
        </ul>

        <p>{{helloCtrl.splitToList(yourName) }}</p>
    </div>

    <div ng-controller="contactController as contactCtrl">
    	
     <div ng-repeat="contacts in contactCtrl.contacts track by $index"> 	
    	<h3 ng-bind='contacts.name'></h3>
    	<p>{{contacts.phone}}</p>
    </div>  

    <hr>
    Recherche : <input type="text" ng-model="recherche">

    <div ng-controller="contactController as contactCtrl">
    	
     <div ng-repeat="contacts in contactCtrl.contacts filter : contacts : recherche track by $index"> 	
    	<h3 ng-bind='contacts.name'></h3>
    	<p>{{contacts.phone}}</p>
    </div> -->

    <header>
      <a href>Ajouter un checkin</a>

      <div>

        <form ng-submit="submit()" ng-controller="checkinFormController">
          <input type="text" name="lat" id="coordLat" ng-model="lat" value="" placeholder="latitude"/>
          <input type="text" name="lng" id="coordLng" ng-model="lng" value="" placeholder="longitude"/>
          <input type="submit" name="submit" value="Ajouter"/>
        </form>
      
        
      </div>



    </header>

    <div ng-view></div>
    

   
        






  </body>
</html>