<!doctype html>
<html ng-app='myApp'>
  <head>
  	<title>Angular</title>
    <!-- build:css css/css-combined.css -->
    <link rel="stylesheet" href="assets/css/styles.css" media="screen" title="no title">
    <!-- endbuild -->
    <script type="text/javascript" src="cordova.js"></script>

    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- build:js assets/js/combined.js -->
  	<script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
  	<script type="text/javascript" src="assets/js/controllers/hello.js"></script>
  	<script type="text/javascript" src="assets/js/controllers/contact.js"></script>
    <script type="text/javascript" src="assets/js/controllers/checkin.js"></script>
  	<script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/angular-local-storage.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <header>
      <p class="size42">AngularApp</p>
      <p>Ajouter un checkin</p>

      <div>

        <form ng-submit="submit()" ng-controller="checkinFormController">
          <input type="text" name="lat" id="coordLat" ng-model="lat" value="" placeholder="latitude"/><!-- ng-model="lat" corespond à $scope.lat dans checkinFormController -->
          <input type="text" name="lng" id="coordLng" ng-model="lng" value="" placeholder="longitude"/><!-- ng-model="lng" corespond à $scope.lng dans checkinFormController -->
          <input type="submit" name="submit" value="Ajouter"/>          
        </form>  

        <div ng-controller="SynchroController">
          <input type="button" name="synchro" ng-click ="synchro()" value="Synchro"/>
          <p>{{nbSynchro}}</p>
        </div>
      
      </div>



    </header>

    <div class="coprs"ng-view></div>


  </body>
</html>