<!doctype html>
<html ng-app='myApp'>
  <head>
  	<title>Angular</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- build:css css/css-combined.css -->
    <link rel="stylesheet" href="assets/css/styles.css" media="screen" title="no title">
    <link type="text/css" rel="stylesheet" href="assets/css/materialize-src/sass/materialize.css"  media="screen,projection"/>
    <!-- endbuild -->
    
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="cordova.js"></script>
    
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>    

    <!-- build:js assets/js/combined.js -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  	<script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/satellizer/satellizer.js"></script>
    <script src="lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="lib/Materialize/dist/js/materialize.js"></script>
  	<script type="text/javascript" src="assets/js/controllers/hello.js"></script>
  	<script type="text/javascript" src="assets/js/controllers/contact.js"></script>
    <script type="text/javascript" src="assets/js/controllers/checkin.js"></script>
  	<script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/angular-local-storage.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <div class="row">
      <div class="col s12">

          <header>
            <a href="#/auth">Connexion</a>
            <p class="size42">AngularApp</p>
            <p>Ajouter un checkin</p>

            <div class="form">
              <form ng-submit="submit()" ng-controller="checkinFormController">
                <input type="text" name="lat" id="coordLat" ng-model="lat" value="" placeholder="latitude"/><!-- ng-model="lat" corespond à $scope.lat dans checkinFormController -->
                <input type="text" name="lng" id="coordLng" ng-model="lng" value="" placeholder="longitude"/><!-- ng-model="lng" corespond à $scope.lng dans checkinFormController -->             
                <button class="btn waves-effect waves-light ajouter" type="submit" name="submit">Ajouter
                  <i class="material-icons right">send</i>
                </button>
              </form>  

              <div ng-controller="SynchroController" class="margin-top sychroniser">            
                <button class="btn waves-effect waves-light" type="submit" name="synchro" ng-click ="synchro()">Synchroniser
                  <i class="material-icons right">loop</i>
                </button>
                <p>{{nbSynchro}}</p>
              </div>
            </div>
          </div>
          </header>



          <div class="coprs" ng-view></div>

      </div>
    </div>
  </body>
</html>